<div class="container">
  <!-- <ng-header></ng-header> -->
  <!-- <ng-header></ng-header> -->
  <div id='header'>
    <div class="home-nav" >
      <span ng-class='{true:"active", false: ""}[tab.active == true]'
      ng-repeat='tab in tabs'
      ng-click='changeTopic(tab)' name='tab'>{{tab.name}}
      </span>
    </div>
  </div>
  <div class="content" infinite-scroll="getDatas(scrollTab)" infinite-scroll-distance='1.5'  infinite-scroll-disabled='scroll'>
    <div class="topic-item"
      ng-repeat='topic in topicList'
      ng-click='showTDetail(topic.id)'>
      <div class="topicImg">
        <img ng-src="{{topic.author.avatar_url}}" alt="" >
      </div>
      <div class="topicCont">
        <div class="topichead">
          <span class="tabtype" ng-show='tabtypeShow' ng-class="{true:'active' ,false:''}[topic.top||topic.good]">{{topic.top?'置顶' : topic.good? '精华' : topic.tab=='ask' ? '问答' :'分享'}}</span>
          <span>{{topic.author.loginname}}</span>
        </div>
          <h4>{{topic.title}}</h4>
      </div>
    </div>
    <div class="alert alert-danger" ng-show="!hasMore">
      <span class="glyphicon glyphicon-alert"></span>已经没有更多内容
    </div>
  </div>
  <a class="goTop" href="javascript:scroll(0,0)" ng-show='toTop'>顶部</a>
  <ng-footer></ng-footer>
</div>
