<div class="container">
  <!-- <ng-header></ng-header> -->
  <!-- <ng-header></ng-header> -->
  <div id='header'>
    <div class="home-nav">
      <span ng-class='{true:"active", false: ""}[tab.active == true]'
      ng-repeat='tab in tabs'
      ng-click='changeTopic(tab)'>{{tab.name}}</span>
    </div>
  </div>
  <div class="content" infinite-scroll="getDatas('')" infinite-scroll-distance='1.1'  infinite-scroll-disabled='scroll'>
    <div class="topic-item"
      ng-repeat='topic in topicList'
      ng-click='showTDetail(topic.id)'>
      <p>{{topic.author.loginname}}</p>
      <h3>{{topic.title}}</h3>
    </div>
    <div class="alert alert-danger" ng-show="!hasMore">
      <span class="glyphicon glyphicon-alert"></span>已经没有更多内容
    </div>
  </div>
  <ng-footer></ng-footer>
</div>
