<div class="container">
  <div id="header">
    <a href="#home">返回主页</a>
    <span class="register" ng-click='reg()' ng-show='userInfo' ng-model='regBtn'>退出</span>
  </div>

  <div class="content">
    <div class="accCenter">
      <div ng-show="userInfo==false" class="access">
        <div class="">
          请输入您的accesstoken
        </div>
        <input type="text"  class="regIpt" ng-model='accesstoken' placeholder="accesstoken">
        <div class="regButtun" ng-click='reg()' ng-model='regBtn'>登录</div>
        <div class="alert-danger acc-warn" ng-show='accWarn'>
          请输入accesstoken!!!
        </div>
      </div>
    </div>
    <div class="" ng-show="userInfo==true">
      <div class="avatar">
        <img ng-src='{{userImg}}'  alt="">
        <span>用户名 : {{loginname}}</span>
      </div>
      <div class="topiccal">收藏话题{{userTopiccal}}个</div>
      <div class="topic-item"
        ng-repeat='collTopic in collTopicList'
        ng-click='showTDetail(collTopic.id)'>
        <div class="topicImg">
          <img ng-src="{{collTopic.author.avatar_url}}" alt="" >
        </div>
        <div class="topicCont">
          <div class="topichead">
            <span class="tabtype" ng-class="{true:'active' ,false:''}[collTopic.top||collTopic.good]">{{collTopic.top?'置顶' : collTopic.good? '精华' : collTopic.tabtype=='ask' ? '问答' :'分享'}}</span>
            <span>{{collTopic.author.loginname}}</span>
          </div>
          <h4>{{collTopic.title}}</h4>
        </div>
      </div>
    </div>


  </div>
  <ng-footer></ng-footer>
</div>
