<div class="container">
  <div id="header">
    <a href="#home">返回主页</a>
    <span class="register" ng-click='reg()'>{{regBtn}}</span>
  </div>

  <div class="content">
    <div ng-show="userInfo==false" class="access">
      请输入accesstoken: <input type="text"  class="regIpt" ng-model='accesstoken'>
      <div class="alert-danger acc-warn" ng-show='accWarn'>
        accesstoken为空!!!
      </div>
    </div>
    <div class="" ng-show="userInfo==true">
      <img src='{{userImg}}' class="avatar" alt="">
      <div>用户名 : {{loginname}}</div>
      <div class="topiccal">收藏话题{{userTopiccal}}个</div>
      <div class="topic-item"
        ng-repeat='collTopic in collTopicList'
        ng-click='showTDetail(collTopic.id)'>
        <p> {{collTopic.author.loginname}}</p>
        <h5>{{collTopic.title}}</h5>
      </div>
    </div>


  </div>
  <ng-footer></ng-footer>
</div>
