@import "./threme.scss";
@import "./topicList.scss";
body,h1,h2,h3,h4,h5,ul,li,dl,dd,dt,p{margin: 0;}

body {
  cursor: pointer;
}

div{
  box-sizing: border-box;
}

.page {
  color: $baseGray;
  font-size: 0.16rem;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-overflow-scrolling : touch;
  color: $contentColor;

  .content {
    // position: absolute;
    // left: 0;
    // top: .4rem;
    // right: 0;
    // bottom: .4rem;
    margin-top: .6rem;
    margin-bottom: .6rem;
    width: 100%;
    background-color: $blueGrey50;
    overflow-y: hidden;

    img {
      max-width: 100%;
    }
    .newMsg ,.oldMsg{
      background-color: $textWhite;
      min-height: .5rem;
    }
    .commit{
      float: left;
      width: .5rem;
      height: .3rem;
      background-color: rgb(37, 135, 215);
      color: white;
      text-align: center;
      line-height: .3rem;
      border-radius: 0.05rem;
    }

    /*主题编辑框*/
    .markdown{
      width: 100%;
      height: 2rem;
      border-radius: .05rem;
    }

  }
  //登录居中显示
  .accCenter{
    position: fixed;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom: 50%;
    /* 用户登录验证*/
    .access{
      width: 3rem;
      height: 1.2rem;
      margin-left: -1.5rem;
      margin-top: -.6rem;
      font-size: .2rem;
      padding: .08rem;
      .regIpt{
        width: 100%;
        margin-top: .05rem;
        border: 1px solid #DCDCDC;
        border-radius: 0.05rem;
      }
      .regButtun{
        width: 100%;
        height: .3rem;
        margin-top: .08rem;
        border-radius: .05rem;
        text-align: center;
        background-color:$blueGrey50
      }
      .acc-warn{
        height: .3rem;
      }
    }
  }
  /*用户头像*/
  .avatar{
    margin-top: .05rem;
    img{
      //float: left;
      width: .5rem;
      height: .5rem;
      border-radius: .05rem;
    }
  }
  //收藏的话题
  .topiccal{
    margin-top: .32rem;
  }

  .publish{
    margin-top: .1rem;
    .publishSel{
      width:1.5rem;
      margin-left: .1rem;
      border-radius: 0.03rem;
    }

    .ask , .job{
      text-indent:2em;
    }
  }
  .title{
    margin-top: .1rem;
    margin-bottom: .1rem;
    width: 100%;
    height: .3rem;
    border: 1px solid #DCDCDC;
    border-radius: 0.05rem;
    outline: none;
  }

  .topic-content {
    padding: .1rem;
  }

  .to-bottom {
    bottom: 0;
  }

}

#header, #footer {
  position: fixed;
  left: 0;
  right: 0;
  line-height: .6rem;
  font-size: .20rem;
  text-align: center;
  color: $textWhite;
  background: $blueGrey600;
  box-shadow: 1px 0px .1rem 1px $blueGrey300;
  a {
    float: left;
    color: rgb(114, 208, 109);
  }

  .collect , .uncoll , .register {
    height: .3rem;
    margin-top: .15rem;
    margin-right: .1rem;
    float: right;
    cursor: pointer;
    text-align: center;
    line-height: .3rem;
    border-radius: 0.08rem;
  }
  .collect , .register{
    width:.6rem;
    background-color:#50D719;
  }
  .uncoll{
    width: 1rem;
    background-color: #07474E;
  }


}
#header {
  top: 0;

}
#footer {
  bottom: 0;
  display: flex;

  span {
    width: 25%;
    &.active {
      background-color: $blueGrey900;
    }
  }

}

//返回顶部
.goTop {
  position: fixed;
  right: 0;
  bottom: .8rem;
  width: .3rem;
  text-align: center;
  background-color: $orange600;
  border-radius: .05rem;
  color: white;
  font-size: .16rem;
}
.goTop:hover {
  text-decoration: none;
}
.go-back {
  width: .4rem;
  float: left;
  margin-left: .1rem;
  line-height: .6rem;
}
.home-nav {
  display: flex;
  span {
    width: 20%;
    &.active {
      background-color: $blueGrey900;
    }
  }
}
