$baseGreen: green;
$baseRed: #ff0000;
$baseGray: #666;
$boxShadow: rgba(13, 13, 13, .3);
$contentColor: #666;
$textWhite: #fff;

// blue
$blueGrey50: #eceff1;
$blueGrey100: #cfd8dc;
$blueGrey200: #b0bec5;
$blueGrey300: #90a4ae;
$blueGrey400: #78909c;
$blueGrey500: #607d8b;
$blueGrey600: #546e7a;
$blueGrey700: #455a64;
$blueGrey800: #37474f;
$blueGrey900: #263238;
// orage
$orange50: #fff3e0;
$orange100: #ffe0b2;
$orange200: #ffcc80;
$orange300: #ffb74d;
$orange400: #ffa726;
$orange500: #ff9800;
$orange600: #fb8c00;
$orange700: #f57c00;
$orange800: #ef6c00;
$orange900: #e65100;
$orangeA100: #ffd180;
$orangeA200: #ffab40;
$orangeA400: #ff9100;
$orangeA700: #ff6d00;
// deep orange
$deepOrange50: #fbe9e7;
$deepOrange100: #ffccbc;
$deepOrange200: #ffab91;
$deepOrange300: #ff8a65;
$deepOrange400: #ff7043;
$deepOrange500: #ff5722;
$deepOrange600: #f4511e;
$deepOrange700: #e64a19;
$deepOrange800: #d84315;
$deepOrange900: #bf360c;
$deepOrangeA100: #ff9e80;
$deepOrangeA200: #ff6e40;
