@import "./threme.scss";

.topic-item {
  margin-top: .1rem;
  background-color: $textWhite;
  height: .8rem;

  .topicImg{
    float: left;
    width:.5rem;
    height: .8rem;
    line-height: .8rem;
    margin-right: .1rem;
    img{
      border-radius: 50%;
    }
  }

}

.topicCont{
  height: .8rem;
  padding-top: .05rem;
  padding-bottom: .05rem;
  .topichead{
    height: .2rem;
    .tabtype{
      float: left;
      width: .4rem;
      height: .2rem;
      background-color:#B7B4B4;
      color: white;
      text-align: center;
      border-radius: .05rem;
      &.active{
        background-color: green;
      }
    }
    span{
      float: right;
    }
  }
  h4{
    //限制内容
    width: 3rem;
    margin-top: .05rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.topic-item:after{
  content: "";
  display: table;
  clear: both;
}
